<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
　　　<%= render 'errors', item: @item %>

  <h1>商品編集</h1>
    <%= form_with model: @item do |f| %>
      <div class="form-group">
        <p>商品画像</p>
        <%= f.file_field :image %>
      </div>

      <div class="form-group">
        <p>商品名</p>
        <%= f.text_field :name %>
      </div>

      <div class="form-group">
        <p>商品説明</p>
          <%= f.text_area :description %>
      </div>

      <div class="form-group">
        <p>ジャンル</p>
          <%= f.text_field :genre_id %>
            <%= f.select :genre_id, options_from_collection_for_select(Genre.all, :id, :name_display) %>
      </div>

      <div class="form-group">
        <p>税抜価格</p>
          <%= f.text_field :tax_excluded_price %>円
      </div>

      <div class="form-group">
        <p>販売ステータス</p>
          <%= f.text_field :sales_status %>
            <%= f.radio_button :sales_status, "true" %>
              <%= f.label :sales_status, "販売中" %>
            <%= f.radio_button :sales_status, "false" %>
              <%= f.label :sales_status, "販売停止中" %>
      </div>

      <div class="form-group">
        <input type="submit" name="commit" value="Update User" class="btn btn-secondary" data-disable-with="Update User">
      </div>
    <% end %>

    </div>
  </div>
</div>