<h2>管理者ログイン</h2>

<div class="container">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
   <div class="row">
      <div class="field col-8 mx-auto">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
    </div>
    
    <div class="row">
      <div class="field col-8 mx-auto">
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>
    
      <div class="actions mx-auto">
        <%= f.submit "ログイン" , class:"btn btn-lg btn-block btn-primary mt-4 col-8 mx-auto"%>
      </div>
    </div>
  <% end %>

</div>
