<div class="container">
  <div class="row">

<div class="col-lg-4"><!-- list-style-type: none-->
  <ol><strong>ジャンル検索</strong>
    <li>ケーキ</li>
    <li>焼き菓子</li>
    <li>プリン</li>
    <li>キャンディ</li>
  </ol>
</div>

<div class="col-lg-8">
  <div class="top-image"><!--背景画像を設定する記述書く-->
  <img src="/assets/nagano_top.jpeg" alt="">
    <p class="top-image-text">
        ようこそ、ながのCAKEへ！<br>
        このサイトは、ケーキ販売のECサイトになります。<br>
        会員でない方も商品の閲覧はできますが、<br>
        購入には会員登録が必要になります。
    </p>
  </div>


<div class="items">
  <table class='table table-hover table-inverse'>
<h4>新着商品</h4>
<div class="row">
  <% @item.each do |item| %>
    <div class="col-md-3">
      <%= link_to item_path(item.id) do %>
        <% if item.image.present? %>
          <%= image_tag item.image, size: "100x100" %>
        <% else %>
          <%= image_tag 'no_image.jpg' %>
        <% end %>
      <% end %>
      <br><%= item.name %>
      <br>¥<%= item.with_tax_price.to_s(:delimited) %>
    </div>
  <% end %>
</div>
  <%=  link_to items_path do %>
  全ての商品を見る >
  <% end %>
</div>
</div>
</div>


