<div class="container">
  <div class="row">
    <div class="col-md-4", style="padding:50px;">
    <!-- ジャンル選択のサイドバー -->
    <%= render 'public/items/genres_sidebar', genres: @genres %>
    <!-- ジャンル選択のサイドバー -->
    </div>
    <div class="col-md-8 item-index", style="padding:50px;">
    <h3><%= @genre.name %>一覧</h3>
            <div class="row">
            <% @genre.items.each do |item| %>
              <div class="col-md-3">
                <%= link_to item_path(item.id) do %>
                  <% if item.image.present? %>
                    <%= image_tag item.image, size: "100x100" %>
                  <% else %>
                    <%= image_tag 'no_image.jpg', size: "100x100"  %>
                  <% end %>
                <% end %>
                  <br><%= item.name %>
                  <br>¥<%= item.with_tax_price.to_s(:delimited) %>
              </div>
            <% end %>
          <div class="paginate", style="text-align:center;">
          <%= paginate @genres %>
            </div>
    </div>
</div>