<h4>ログイン</h4>

<h4>会員の方はこちらからログイン</h4>

<%= form_with model: @customer, url: customer_session_path do |f| %>
<table>
  <tr>
    <th><%= f.label :"メールアドレス" %></th>
    <td><%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com" %></td>
  </tr>
  <tr>
    <th><%= f.label :"パスワード" %></th>
    <td><%= f.password_field :password, autocomplete: "current-password" %></td>
  </tr>
  <tr>
    <th></th>
    <td><%= f.submit "ログイン" %></td>
  </tr>
</table>
<% end %>


<h4>会員登録がお済みでない方</h4>

<%= render "public/shared/links" %>
