<div class="container">
  <div class="row">

    <div class="col-lg-4", style="padding:50px;"><!-- list-style-type: none-->
      <table class="table table-hover", border="1">
        <thead>
          <tr>
            <th><ol>ジャンル検索</th>
          </tr>
        </thead>
        <tbody>
          <tr><td><li>ケーキ</li></td></tr>
          <tr><td><li>焼き菓子</li></td></tr>
          <tr><td><li>プリン</li></td></tr>
          <tr><td><li>キャンディ</li></td></tr>
              </ol>

        </tbody>
      </table>
    </div>

    <div class="col-lg-8">
        <h4 style="padding-top:50px;">商品一覧</h4>（全<%= @itemall.count %>件）
        <br>
        <div class="row">
          <% @items.each do |item| %>
            <div class="col-md-3">
              <%= link_to item_path(item.id) do %>
                <% if item.image.present? %>
                  <%= image_tag item.image, size: "100x100" %>
                <% else %>
                  <%= image_tag 'no_image.jpg' %>
                <% end %>
              <% end %>
              <br><%= item.name %>
              <br>¥<%= item.with_tax_price.to_s(:delimited) %>
            </div>
          <% end %>
          <div class="paginate", style="text-align:center;">
          <%= paginate @items %>
          </div>
        </div>
    </div>
  </div>
</div>
