
<%= render 'genres', genres: @genres %>


商品一覧
<table>


</table>

<% @items.each do |item| %>
  <%= link_to item_path(item.id) do %>
    <%= image_tag image.get_image, size: '50x50' %>
    <%= item.name %>
    <%= item.tax_excluded_price %>
  <% end %>
<% end %>
