<div class="container">
  <div class="row">
    <div class="col-md-10">

<%= render 'genres_sidebar', genres: @genres %>
<%= render 'public/searches/search', items: @items %>



<div>商品一覧</div>

<div class="row">
  <% @items.each do |item| %>
    <div class="col-md-3">
      <%= link_to item_path(item.id) do %>
        <% if item.image.present? %>
          <%= image_tag item.image, width: 'auto', height: '75px' %>
        <% else %>
          <%= image_tag 'no_image.jpg', width: 'auto', height: '75px'  %>
        <% end %>
      <% end %>
      <br><%= item.name %>
      <br>¥<%= item.with_tax_price.to_s(:delimited) %>
    </div>
  <% end %>
</div>
