<div class="container">
  <div class="row">
    <div class="col-md-4", style="padding:50px;">
      <%= render 'genres_sidebar', genres: @genres %>
    </div>


    <div class="col-md-8">
        <h4 style="padding-top:50px;">商品一覧</h4>（全<%= @itemall.count %>件）
        <br>
        <div class="row">
          <% @items.each do |item| %>
            <% if item.sales_status == true %>
            <div class="col-md-3">
              <%= link_to item_path(item.id) do %>
                <% if item.image.present? %>
                  <%= image_tag item.image, size: "100x100" %>
                <% else %>
                  <%= image_tag 'no_image.jpg' %>
                <% end %>
              <% end %>
              <br><%= item.name %>
              <br>¥<%= item.with_tax_price.to_s(:delimited) %>
            </div>
            <% end %>
          <% end %>
          <div class="paginate", style="text-align:center;">
          <%= paginate @items %>
          </div>
        </div>

    </div>
  </div>
</div>
