<div class="container">
  <div class="row">

    <div class="col-lg-4", style="padding:50px;"><!-- list-style-type: none-->
      <table class="table table-hover", border="1">
        <thead>
          <tr>
            <th><ol>ジャンル検索</th>
          </tr>
        </thead>
        <tbody>
          <tr><td><li>ケーキ</li></td></tr>
          <tr><td><li>焼き菓子</li></td></tr>
          <tr><td><li>プリン</li></td></tr>
          <tr><td><li>キャンディ</li></td></tr>
              </ol>

        </tbody>
      </table>
    </div>

  <div class="col-md-8">
<table>
  <tr>
  <% if @item.image.present? %>
    <%= image_tag @item.image, size: "100x100" %>
  <% else %>
    <%= image_tag 'no_image.jpg' %>
  <% end %>
  </tr>
  </div>

  <div class="col-md-8">
  <tr>
    <td><h2><%= @item.name %></h2></td>
  </tr>

  <tr>
    <td><%= @item.description %></td>
  </tr>
  <tr>
    <td> <h3>￥<%= @price.to_s(:delimited) %>(税込)</h3></td>
  </tr>
  </table>
  <% if customer_signed_in? %>
    <p>個数選択</p>
     <%= form_with model: @cart_item, url: cart_items_path do |f| %>
        <% f.text_field :quantity, class:"form-control" %>
          <%= f.number_field :quantity, in: 1..99 %>
        <%= f.hidden_field :item_id, :value => @item.id %>
        <%= f.hidden_field :customer_id, :value => current_customer.id %>
        <%= f.submit 'カートに入れる', class:"btn btn-lg btn-block btn-success mt-4" %>
    <% end %>
  <% end %>

  </div>
  </div>
</div>




