<table>

  <tr>
  <% if @item.image.present? %>
    <%= image_tag @item.image, size: "100x100" %>
  <% end %>
  </tr>

  <tr>
    <td><h2><%= @item.name %></h2></td>
  </tr>

  <tr>
    <td><%= @item.description %></td>
  </tr>
  <tr>
    <td>税込価格</br>（税抜価格）</td>
    <td> <h3>￥<%= @price.to_s(:delimited) %>(税込)</h3></td>
  </tr>
  </table>
  <p>個数選択</p>
   <%= form_with model: @cart_item, url: cart_items_path do |f| %>
      <% f.text_field :quantity, class:"form-control" %>
        <%= f.number_field :quantity, in: 1..99 %>
      <%= f.hidden_field :item_id, :value => @item.id %>
      <%= f.hidden_field :customer_id, :value => current_customer.id %>
      <%= f.submit 'カートに入れる', class:"btn btn-lg btn-block btn-success mt-4" %>
  <% end %>



